# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

#Models
**.pth
**.onnx

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# files to remove
*.json

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# Configuration files